.App {

  min-width: 100vh;
  margin: 0 auto;
  padding-left: 48px;
  padding-top: 10px;
  min-height: 90vh;
}

.addForm {
  width: fit-content;
}

.todolistComponent{
  display: flex;
  flex-wrap: wrap;
}



